{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}Вхід{% endblock title %}
{% block content %}
<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<div class="wrapper pa-0">
{#			<header class="sp-header">#}
{#				<div class="sp-logo-wrap pull-left">#}
{#					<a href="index.html">#}
{#						<img class="stnd default-logo" alt="Communa" src="http://communa.net.ua/wp-content/uploads/2017/10/footer-logo.png" srcset="http://communa.net.ua/wp-content/uploads/2017/10/footer-logo.png 0.5x, http://communa.net.ua/wp-content/uploads/2017/10/footer-logo.png 1.5x">#}
{#					</a>#}
{#				</div>#}
{#				<div class="form-group mb-0 pull-right">#}
{#					<span class="inline-block pr-10">Don't have an account?</span>#}
{#					<a class="inline-block btn btn-info btn-rounded btn-outline" href="signup.html">Sign Up</a>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</header>#}

			<!-- Main Content -->

			<div class="page-wrapper pa-0 ma-0 auth-page login_page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<!--<img class="mb-10 text-center login_page_logo" alt="Shop" src="http://communa.net.ua/wp-content/uploads/2017/10/footer-logo.png">-->
{#											<h6 class="text-center nonecase-font txt-grey">CRM</h6>#}
										</div>
										<div class="form-wrap">
											<form method="post" action="{% url 'login' %}">
                                                {% csrf_token %}
												<div class="form-group">
													<label class="control-label mb-10" for="exampleInputEmail_2">Логін</label>
                                                    {{ form.username|add_class:'form-control' }}
{#                                                    <td id="exampleInputEmail_2" class="form-control">{{ form.username }}</td>#}
{#													<input type="email" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email">#}
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Пароль</label>
{#													<a class="capitalize-font txt-primary block mb-10 pull-right font-12" href="forgot-password.html">forgot password ?</a>#}
{#													<div class="clearfix"></div>#}
                                                    {{ form.password|add_class:'form-control' }}
{#                                                    <td id="exampleInputpwd_2" class="form-control">{{ form.password }}</td>#}
{#													<input type="password" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter pwd">#}
												</div>

{#												<div class="form-group">#}
{#													<div class="checkbox checkbox-primary pr-10 pull-left">#}
{#														<input id="checkbox_2" required="" type="checkbox">#}
{#														<label for="checkbox_2"> Keep me logged in</label>#}
{#													</div>#}
{#													<div class="clearfix"></div>#}
{#												</div>#}
												<div class="form-group text-center">
													<button type="submit" id="geolocation" class="btn btn-success btn-rounded">Увійти</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

			</div>
			<!-- /Main Content -->

		</div>
		<!-- /#wrapper -->

		<!-- JavaScript -->

		<!-- jQuery -->
		<script src="{% static 'full-width-light/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'full-width-light/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js' %}"></script>
		<script src="{% static 'full-width-light/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>

		<!-- Slimscroll JavaScript -->
		<script src="{% static 'full-width-light/dist/js/jquery.slimscroll.js' %}"></script>

		<!-- Init JavaScript -->
		<script src="{% static 'full-width-light/dist/js/init.js' %}"></script>




{% endblock %}