{% extends 'registration/../base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}


{% block content %}
    {% block css %}
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {% if user.is_authenticated %}

        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="panel panel-default card-view  pa-0">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body  pa-0">
                            <div class="profile-box">
                                <div class="profile-cover-pic">
                                    <div class="fileupload btn btn-default">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                    <div class="profile-image-overlay"></div>
                                </div>
                                <div class="profile-info text-center">
                                    <div class="profile-img-wrap">
                                        {% load avatar_tags %}
                                        {% avatar user %}
                                        <div class="fileupload btn btn-default">
                                            <span class="btn-text">edit</span>
                                            <input class="upload" type="file">
                                        </div>
                                    </div>
                                    <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-danger">{{ user.get_username }}</h5>
                                    <h6 class="block capitalize-font pb-20">{{ user.get_username }}</h6>
                                </div>
                                <div class="social-info">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <span class="counts block head-font"><span class="counter-anim">345</span></span>
                                            <span class="counts-text block">post</span>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <span class="counts block head-font"><span class="counter-anim">246</span></span>
                                            <span class="counts-text block">followers</span>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <span class="counts block head-font"><span class="counter-anim">898</span></span>
                                            <span class="counts-text block">tweets</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-default btn-block btn-outline btn-anim mt-30" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i><span class="btn-text">edit profile</span></button>
                                    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h5 class="modal-title" id="myModalLabel">Edit Profile</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Row -->
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="">
                                                                <div class="panel-wrapper collapse in">
                                                                    <div class="panel-body pa-0">
                                                                        <div class="col-sm-12 col-xs-12">
                                                                            <div class="form-wrap">
                                                                                <form action="#">
                                                                                    <div class="form-body overflow-hide">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputuname_1">Name</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                                <input type="text" class="form-control" id="exampleInputuname_1" placeholder="willard bryant">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputEmail_1">Email address</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                                <input type="email" class="form-control" id="exampleInputEmail_1" placeholder="root@gmail.com">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputContact_1">Contact number</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                                <input type="email" class="form-control" id="exampleInputContact_1" placeholder="+102 9388333">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputpwd_1">Password</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                                <input type="password" class="form-control" id="exampleInputpwd_1" placeholder="Enter pwd" value="password">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10">Gender</label>
                                                                                            <div>
                                                                                                <div class="radio">
                                                                                                    <input type="radio" name="radio1" id="radio_1" value="option1" checked="">
                                                                                                    <label for="radio_1">
                                                                                                        M
                                                                                                    </label>
                                                                                                </div>
                                                                                                <div class="radio">
                                                                                                    <input type="radio" name="radio1" id="radio_2" value="option2">
                                                                                                    <label for="radio_2">
                                                                                                        F
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10">Country</label>
                                                                                            <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                                                                <option value="Category 1">USA</option>
                                                                                                <option value="Category 2">Austrailia</option>
                                                                                                <option value="Category 3">India</option>
                                                                                                <option value="Category 4">UK</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-actions mt-10">
                                                                                        <button type="submit" class="btn btn-success mr-10 mb-30">Update profile</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success waves-effect" data-dismiss="modal">Save</button>
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="panel panel-default card-view pa-0">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body pb-0">
                            <div class="tab-struct custom-tab-1">
                                <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                                    <li class="active" role="presentation"><a data-toggle="tab" id="profile_tab_8" role="tab" href="#profile_8" aria-expanded="true"><span>profile</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" id="earning_tab_8" role="tab" href="#earnings_8" aria-expanded="true"><span>earnings</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" id="settings_tab_8" role="tab" href="#settings_8" aria-expanded="false"><span>settings</span></a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent_8">
                                    <div id="profile_8" class="tab-pane fade active in" role="tabpanel">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default card-view">
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <h6 class="panel-title txt-dark">Results</h6>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <span class="font-12 head-font txt-dark">Costs<span class="pull-right">85%</span></span>
                                                        <div class="progress mt-10">
                                                            <div class="progress-bar progress-bar-info" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%" role="progressbar"> <span class="sr-only">85% income</span> </div>
                                                        </div>
                                                        <span class="font-12 head-font txt-dark">Income<span class="pull-right">80%</span></span>
                                                        <div class="progress mt-10">
                                                            <div class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                                                        </div>
                                                        <span class="font-12 head-font txt-dark">Debtors<span class="pull-right">70%</span></span>
                                                        <div class="progress mt-10">
                                                            <div class="progress-bar progress-bar-danger" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 40%" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                                                        </div>
                                                        <span class="font-12 head-font txt-dark">Popularity<span class="pull-right">45%</span></span>
                                                        <div class="progress mt-10">
                                                            <div class="progress-bar progress-bar-inverse" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="earnings_8" class="tab-pane fade" role="tabpanel">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form id="example-advanced-form" action="#">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped display product-overview" id="datable_1">
                                                                <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Item Sales Colunt</th>
                                                                    <th>Earnings</th>
                                                                </tr>
                                                                </thead>
                                                                <tfoot>
                                                                <tr>
                                                                    <th colspan="2">total:</th>
                                                                    <th></th>
                                                                </tr>
                                                                </tfoot>
                                                                <tbody>
                                                                <tr>
                                                                    <td>monday, 12</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>tuesday, 13</td>
                                                                    <td>
                                                                        2
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>wednesday, 14</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$420</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>thursday, 15</td>
                                                                    <td>
                                                                        5
                                                                    </td>
                                                                    <td>$500</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>friday, 15</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>saturday, 16</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>sunday, 17</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>monday, 18</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$500</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>tuesday, 19</td>
                                                                    <td>
                                                                        3
                                                                    </td>
                                                                    <td>$400</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="settings_8" class="tab-pane fade" role="tabpanel">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body pa-0">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <div class="form-wrap">
                                                                    <form action="#">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputuname_01">Name</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                    <input type="text" class="form-control" id="exampleInputuname_01" placeholder="willard bryant">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputEmail_01">Email address</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                    <input type="email" class="form-control" id="exampleInputEmail_01" placeholder="root@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputContact_01">Contact number</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                    <input type="email" class="form-control" id="exampleInputContact_01" placeholder="+102 9388333">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputpwd_01">Password</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                    <input type="password" class="form-control" id="exampleInputpwd_01" placeholder="Enter pwd" value="password">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Gender</label>
                                                                                <div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_01" value="option1" checked="">
                                                                                        <label for="radio_01">
                                                                                            M
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_02" value="option2">
                                                                                        <label for="radio_02">
                                                                                            F
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Country</label>
                                                                                <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                                                    <option value="Category 1">USA</option>
                                                                                    <option value="Category 2">Austrailia</option>
                                                                                    <option value="Category 3">India</option>
                                                                                    <option value="Category 4">UK</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-actions mt-10">
                                                                            <button type="submit" class="btn btn-success mr-10 mb-30">Update profile</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}

    {% block js %}
        <script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
    {% endblock %}

{% endblock %}
<!--style="text-align: center"-->