{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% block css %}
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <div class="container-fluid">
        <!-- Title -->
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">add-products</h5>
            </div>
            <!-- Breadcrumb -->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#"><span>e-commerce</span></a></li>
                    <li class="active"><span>add-products</span></li>
                </ol>
            </div>
            <!-- /Breadcrumb -->
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-info-outline mr-10"></i>about product</h6>
                                <hr class="light-grey-hr">
                                <div class="row">
                                    <div class="columns is-mobile">
                                        <div class="column is-haft is-offset-one-quarter">
                                            <form method="post"  class="client-form" action="{% url 'add_products' %}" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    {{ add_product.title }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    {{ add_product.name }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    {{ add_product.price_f1 }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    {{ add_product.discount }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    {{ add_product.product_description }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    {{ add_product.type }}
                                                    <div style="clear: both;">&nbsp;</div>
                                                    <div class="btn fc-agendaWeek-button">{{ add_product.profile_image }}</div>
                                                    <div class="btn fc-agendaWeek-button">{{ add_product.document }}</div>
                                                    <div style="clear: both;">&nbsp;</div>
                                                    <button type="submit" class="btn btn-primary"><a href="{% url 'catalog' %}">Додати</a></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

    {% block js %}
        <script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
    {% endblock %}

{% endblock %}