{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>|SHOP</title>
    <meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'full-width-light/favicon.ico' %}">
    <link rel="icon" href="{% static 'full-width-light/dist/img/favicon.ico' %}" type="image/x-icon">

    <!-- Data table CSS -->
    <!-- Custom CSS -->
    <link href="{% static 'full-width-light/dist/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'full-width-light/vendors/bower_components/sweetalert/dist/sweetalert.css' %}" rel="stylesheet" type="text/css">

    {% block css %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'full-width-light/vendors/bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script src="{% static 'full-width-light/dist/js/sweetalert-data.js' %}"></script>

    {{ form.media.css }}
</head>
<body>
<!--Preloader-->
{% if user.is_authenticated %}

    <div class="preloader-it" style="display: none;">
        <div class="la-anim-1 la-animate"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-1-active pimary-color-red">

    <!-- Top Menu Items -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="mobile-only-brand pull-left">
            <div class="nav-header pull-left">
                <div class="logo-wrap">
                    <a href="#">
                        <a href="{% url 'catalog' %}"><h3 class="text-info">LNU - SHOP</h3></a>
                        <span class="brand-text"> LNU-SHOP</span>
                    </a>
                </div>
            </div>
            <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
            <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>

{#            <form id="search_form" role="search" class="top-nav-search collapse pull-left">#}
{#                <div class="input-group">#}
{#                    <input type="text" name="example-input1-group2" class="form-control" placeholder="Search">#}
{#                    <span class="input-group-btn">#}
{#						<button type="button" class="btn  btn-default" data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>#}
{#						</span>#}
{#                </div>#}
{#            </form>#}

            <form action="{% url 'catalog' %}" id="search_form" role="search" class="top-nav-search collapse pull-left">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
						<button type="button" class="btn  btn-default" data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div id="mobile_only_nav" class="mobile-only-nav pull-right">
            <ul class="nav navbar-right top-nav pull-right">
                <li class="dropdown alert-drp">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-basket top-nav-icon">
                            <span class="top-nav-icon-badge">
                                {% if product_total_nmb  %}
                                    {{ product_total_nmb }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </i>
                    </a>
                    <ul class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
                        <li>
                            <div class="notification-box-head-wrap">
                                <span class="notification-box-head pull-left inline-block">Корзина</span>
                                <!--<span class="notification-box-head pull-left inline-block">notifications</span>
                                <a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>
                                <div class="clearfix"></div>
                                <hr class="light-grey-hr ma-0">-->
                                <div class="clearfix">
                                    <hr class="light-grey-hr ma-0">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 229px;">
                                <div class="streamline message-nicescroll-bar" style="overflow: hidden; width: auto; height: 229px;">
                                    <div class="sl-item">
                                        <ul>
                                            {% for pr in product_in_basket %}
                                                <li>
                                                    <br/> Назва: {{ pr.name_product.name }}
                                                    <br/> Кількість: {{ pr.ammount }}<a data-count="1" data-id="1" class="inline-block font-11 pull-right notifications-time delete-icon" href="#" data-product_id="{{ pr.id }}">X</a>
                                                    <br/> Ціна: {{ pr.price }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="notification-box-bottom-wrap">
                                <hr class="light-grey-hr ma-0">
                                <a class="block text-center read-all" href="javascript:void(0)"> read all </a>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown alert-drp">
                    <a href="{% url 'card' %}" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_money }}$</a>
                </li>
                <li class="dropdown auth-drp">
                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><h2>{{ user.get_username }}</h2></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <li>
                            <a href="{% url 'profile' %}"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="{% url 'card' %}"><i class="zmdi zmdi-card"></i><span>my balance</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                            {% else %}
                                <a href="{% url 'login' %}"><i class="zmdi zmdi-power"></i><span>Login</span></a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li class="dropdown auth-drp">
                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><h2>{{ user.money }}</h2><span class="user-online-status"></span></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <li>
                            <a href="{% url 'profile' %}"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><ul class="nav navbar-nav side-nav nicescroll-bar" style="overflow: hidden; width: auto; height: 100%;">
            <li>
                <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="fa fa-barcode"></i><span class="right-nav-text"> Меню Продуктів</span></div><div class="pull-right"><span class="label label-success">hot</span></div><div class="clearfix"></div></a>
                <ul id="ecom_dr" class="collapse collapse-level-1">
                    <li>
                        <a href="{% url "catalog" %}">Всі товари</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=work">Робота</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=realestate">Нерухомість</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=transport">Транспорт</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=electronics">Електроніка</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=clothing">Одяг</a>
                    </li>
                    <li>
                        <a href="{% url "catalog" %}?category=other">Інше</a>
                    </li>
{#                    <li>#}
{#                        <a href="{% url "catalog/?realestate" %}/?category=">Нерухомість</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url "catalog/?transport" %}/?category=">Транспор</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url "catalog/?electronics" %}/?category=">Електроніка</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url "catalog/?clothing" %}/?category=">Одяг</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url "catalog/?other" %}/?category=">Інше</a>#}
{#                    </li>#}
                </ul>
            </li>
            <li>
                <a href="{% url "add_products" %}" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="fa fa-plus-square"></i><span class="right-nav-text"> Додати продукт</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>
        </ul><div class="slimScrollBar" style="background: rgb(135, 135, 135); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 880px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <!-- /Left Sidebar Menu -->

    <!-- Right Setting Menu -->
    <div class="setting-panel">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><ul class="right-sidebar nicescroll-bar pa-0" style="overflow: hidden; width: auto; height: 100%;">
            <li class="layout-switcher-wrap">
                <ul>
                    <li>
                        <span class="layout-title">Scrollable sidebar</span>
                        <span class="layout-switcher">
								<input type="checkbox" id="switch_3" class="js-switch" data-color="#ea6c41" data-secondary-color="#878787" data-size="small" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(135, 135, 135) 0px 0px 0px 0px inset; border-color: rgb(135, 135, 135); background-color: rgb(135, 135, 135); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
							</span>
                        <h6 class="mt-30 mb-15">Theme colors</h6>
                        <ul class="theme-option-wrap">
                            <li id="theme-1" class="active-theme"><i class="zmdi zmdi-check"></i></li>
                            <li id="theme-2"><i class="zmdi zmdi-check"></i></li>
                            <li id="theme-3"><i class="zmdi zmdi-check"></i></li>
                            <li id="theme-4"><i class="zmdi zmdi-check"></i></li>
                            <li id="theme-5"><i class="zmdi zmdi-check"></i></li>
                            <li id="theme-6"><i class="zmdi zmdi-check"></i></li>
                        </ul>
                        <h6 class="mt-30 mb-15">Primary colors</h6>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-red" checked="" value="pimary-color-red">
                            <label for="pimary-color-red"> Red </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-blue" value="pimary-color-blue">
                            <label for="pimary-color-blue"> Blue </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-green" value="pimary-color-green">
                            <label for="pimary-color-green"> Green </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-yellow" value="pimary-color-yellow">
                            <label for="pimary-color-yellow"> Yellow </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-pink" value="pimary-color-pink">
                            <label for="pimary-color-pink"> Pink </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-orange" value="pimary-color-orange">
                            <label for="pimary-color-orange"> Orange </label>
                        </div>
                        <div class="radio mb-5">
                            <input type="radio" name="radio-primary-color" id="pimary-color-gold" value="pimary-color-gold">
                            <label for="pimary-color-gold"> Gold </label>
                        </div>
                        <div class="radio mb-35">
                            <input type="radio" name="radio-primary-color" id="pimary-color-silver" value="pimary-color-silver">
                            <label for="pimary-color-silver"> Silver </label>
                        </div>
                        <button id="reset_setting" class="btn  btn-info btn-xs btn-outline btn-rounded mb-10">reset</button>
                    </li>
                </ul>
            </li>
        </ul><div class="slimScrollBar" style="background: rgb(135, 135, 135); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 946px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <button id="setting_panel_btn" class="btn btn-success btn-circle setting-panel-btn shadow-2dp"><i class="zmdi zmdi-settings"></i></button>
    <!-- /Right Setting Menu -->

    <!-- Right Sidebar Backdrop -->
    <div class="right-sidebar-backdrop"></div>
    <!-- /Right Sidebar Backdrop -->

    <!-- Main Content -->
    <div class="page-wrapper" style="min-height: 190px;">
        {% block content %}{% endblock %}
        <!-- Footer -->
        <footer class="footer container-fluid pl-30 pr-30">
            <div class="row">
                <div class="col-sm-12">
                    <p>2019 © Shop-LNU. Maksym Hrybun</p>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->
{% endif %}
</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
<script src="{% static 'full-width-light/dist/js/corzina.js' %}"></script>

<script src="{% static 'full-width-light/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
{##}
{#<!-- Bootstrap Core JavaScript -->#}
<script src="{% static 'full-width-light/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{##}
{#<!-- Data table JavaScript -->#}
{#<script src="{% static 'full-width-light/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>#}
{#<script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>#}
{##}
{#<!-- Slimscroll JavaScript -->#}
<script src="{% static 'full-width-light/dist/js/jquery.slimscroll.js' %}"></script>
{##}
{#<!-- Owl JavaScript -->#}
<script src="{% static 'full-width-light/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>
{##}
{#<!-- Switchery JavaScript -->#}
<script src="{% static 'full-width-light/vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>
{##}
{#<!-- Fancy Dropdown JS -->#}
<script src="{% static 'full-width-light/dist/js/dropdown-bootstrap-extended.js' %}"></script>
{##}
{#<!-- Init JavaScript -->#}
<script src="{% static 'full-width-light/dist/js/init.js' %}"></script>
{% block js %}{% endblock %}



{{ form.media.js }}
</body>
</html>