{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% block css %}
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {#    <form action="{% url 'editModel' record_id=i.id %}" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#    </form>#}
    <form action="{% url 'editModel' record_id=1 %}" method="post">
        {% csrf_token %}
        <div style="clear: both;">&nbsp;</div>
        <span>Заголовок :</span>
        {{ form.title }}
        <div style="clear: both;">&nbsp;</div>
        <span>Назва :</span>
        {{ form.name }}
        <div style="clear: both;">&nbsp;</div>
        <span>Ціна :</span>
        {{ form.price_f1 }}
        <div style="clear: both;">&nbsp;</div>
        <span>Знижка :</span>
        {{ form.discount }}
        <div style="clear: both;">&nbsp;</div>
        <span>Опис :</span>
        {{ form.product_description }}
        <div style="clear: both;">&nbsp;</div>
        <span>Тип :</span>
        {{ form.type }}
        <div style="clear: both;">&nbsp;</div>
        <div class="btn fc-agendaWeek-button">{{ form.profile_image }}</div>
        <div class="btn fc-agendaWeek-button">{{ form.document }}</div>
        <div style="clear: both;">&nbsp;</div>
        <div class="btn-group mr-10">
            <button type="submit" class="btn btn-success btn-anim" id="submit_btn"><a href="{% url 'catalog' %}">Submit</a></button>
        </div>
    </form>

    {% block js %}
        <script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
    {% endblock %}

{% endblock %}