{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% block css %}
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <div class="container-fluid">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">products</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#"><span>products</span></a></li>
                        <li class="active"><span>products</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for i in products %}
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                        <div class="panel panel-default card-view pa-0">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body pa-0">
                                    <article class="col-item">
                                        <div class="photo" >
                                            <div class="options">
                                                <a href="{% url 'editModel' record_id=i.id %}" class="font-18 txt-grey mr-10 pull-left"><i class="zmdi zmdi-edit"></i></a>
                                                <a href="{% url 'deleteModel' record_id=i.id %}" class="font-18 txt-grey pull-left"><i class="zmdi zmdi-close"></i></a>
                                            </div>
                                            <a href="{% url 'tovar' record_id=i.id %}"><img src="{{ i.document.url }}" class="img-responsive" alt="Product Image"></a>
                                            <div class="info" ><h6>{{ i.title }}</h6></div>
                                            <span class="head-font block text-warning font-18">  ${{ i.price_f1 }}</span>
                                            <div class="info">{{ i.type }}</div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Product Row Four -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% block js %}
        <script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
    {% endblock %}

{% endblock %}
<!--style="text-align: center"-->