{% extends 'base.html' %}
{% load ratings %}
{% load staticfiles %}
{% block content %}
    {% block css %}
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'full-width-light/vendors/bower_components/datatables.net-responsive/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% endblock %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-big">
                                    <!-- START carousel-->
                                    <div id="carousel-example-captions-1" data-ride="carousel" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-captions-1" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-captions-1" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div role="listbox" class="carousel-inner">
                                            <div class="item active"> <img src="{{ products.document.url }}" alt="Second slide image"> </div>
                                            <div class="item"> <img src="{{ products.profile_image.url }}" alt="Second slide image"> </div>
                                        </div>
                                    </div>
                                    <!-- END carousel-->
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="product-detail-wrap" id="buying_prodict">
                                    <div class="product-rating inline-block mb-10">
                                        {% ratings products %}
                                    </div>
                                    <h3 class="mb-20 weight-500" id="database-product-name">{{ products.name }}</h3>
                                    <div class="product-price head-font mb-30" id="database-product-price">$ {{ products.price_f1 }}</div>
                                    <p class="mb-50" id="database-product-description">{{ products.product_description }}</p>
                                    <form action="{% url 'order' %}" id="form_button_product" onsubmit="event.preventDefault(); application();">
                                        {% csrf_token %}
                                        <div class="btn-group mr-10">
                                            <input type="number" class="form-control" name="number" id="number">
                                        </div>
                                        <div class="btn-group mr-10">
                                            <button type="submit" class="btn btn-success btn-anim" id="submit_btn"
                                                    data-product="{{ products.id }}"
                                                    data-name="{{ products.name }}"
                                                    data-price="{{ products.price_f1 }}"
                                            >Order</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="tab-struct custom-tab-1 product-desc-tab">
                <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_7">
                    <li role="presentation" class="active"></li>
                </ul>
                <div class="row mt-40">
                    <div class="col-sm-12">
                        <div id="review_tab_detail" class="tab-pane pt-0 fade active in delete-response" role="tabpanel">
                        <div class="panel panel-success card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-light">Залишити відгук ({{ res.count }})</h6>
{#                                        <h6 class="panel-title txt-light">Залишити відгук#}
{#                                        {% if product_in_response %}#}
{#                                            {{ product_in_response }}#}
{#                                        {% else %}#}
{#                                            0#}
{#                                        {% endif %}#}
{#                                        </h6>#}
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body ajax-coment">
                                        <ul>
                                        {% for re in res %}
                                            <li>
                                                {% if re %}
                                                    <samp class="" style="font-size: 25px;">{{ re.description }}</samp>
                                                    <button class="btn btn-info btn-icon-anim btn-circle" style="float: right;"><i id="deleteRespones" class="icon-trash"></i></button>
                                                    <div style="clear: both;">&nbsp;</div>
                                                {% else %}
                                                    <p class="muted review-tag pt-15">No reviews yet.</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                         </ul>
									</div>
								</div>
							</div>

                            </div>
                            <div style="clear: both;">&nbsp;</div>
                        <div class="form-wrap">
                            <form>
                                <div class="form-group">
                                    {% csrf_token %}
                                    {% ratings products %}
                                </div>
                            </form>

                            <form action="{% url 'responseProduct' %}" id="form-tovar" onsubmit="event.preventDefault(); postProducts();">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Залишити відгук</label>
                                    <textarea class="form-control" rows="5" id="response-text"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-success mr-10" id="submit_btn_response"
                                            data-product="{{ products.id }}"
                                            data-name="{{ products.name }}"
                                    >Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    {% block js %}
        <script src="{% static 'full-width-light/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/dataTables-data.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/corzina.js' %}"></script>
        <script src="{% static 'full-width-light/dist/js/response.js' %}"></script>
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endblock %}

{% endblock %}